    </main>

    <footer class="site-footer">
      <div class="footer-credits">
        <span>Conceptualización de los servicios en la nube</span>
        <span>Elvia Edith Sánchez Santillan</span>
        <span>19 31 34 575</span>
        <span>elviae_sasan@hotmail.com</span>
      </div>
    </footer>
  </div>
</body>
</html>

